<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\HP\Desktop\my_projects\registration-bot-app\target\registration-bot-app-y-jar-with-dependencies.jar</jar>
  <outfile>C:\Users\HP\Desktop\my_projects\registration-bot-app\RegistrationBotAppV1\RegistrationBot.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\HP\Desktop\my_projects\registration-bot-app\RegistrationBotAppV1\appIcon.ico</icon>
  <jre>
    <path>JRE</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>